/* .table {
  width: 20%;
  margin: 0 auto;
  text-align: left;
} */

h1 {
  font-size: 2rem;
  text-align: left;
}

.wrapper-container {
  display: flex;
  justify-content: center;
}

.country-table {
  margin: 0 2rem;
  height: 100%;
  width: 20%;
  text-align: left;
}

.condensed-table {
  border-collapse: collapse;
  font-size: 14px;
}

.condensed-table td,
.condensed-table th {
  padding: 0px 10px;
}

.condensed-table thead th {
  padding: 12px;
}

.condensed-table tbody td {
  vertical-align: middle;
}

.search-table {
  margin: 0 2rem;
  height: 100%;
  width: 20%;
  text-align: left;
}
.search-results-container {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 20px;
}

.search-table button {
  margin: 0 0.5rem;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group .form-check {
  margin-right: 1rem;
}

.search-table .form-select {
  margin-top: 10px;
}
