.dashboard-container {
  display: flex;
  justify-content: center;
}

/* .container {
  margin: 0 10px; 
} */

.add-results-container {
  display: flex;
  justify-content: center;
  gap: 50px; 
}
