.container {
  display: fixed;
  justify-content: center;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin-top: 2rem;
}

.multistep-form {
  flex: 1;
  
  margin: 0 10px;
}

.search-skater {
  flex: 1;
  /* margin-left: 5px; */
  margin: 0 10px;
}
