.align-center {
  text-align: center;
}

.left-align {
  text-align: left;
}

.vertical-align {
  vertical-align: middle;
}

.expand-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-button {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
