.skaterinfoContainer h1 {
  text-align: center;
  padding-bottom: 10px;
}

.skaterinfoContainer h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 25x;
}

.skaterinfoContainer .skaterInfo {
  width: 27%; 
  margin: 0 auto;
  text-align: left;
}

.skaterinfoContainer table {
  width: 27%; 
  margin: 0 5px;
  text-align: left;
}

.skaterinfoContainer .tableContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}


.skaterinfoContainer .tableContainer table{
  width: 20%;
}

